<app-float-label-icon-input id="id"
                            label="Search"
                            [value]="value()"
                            (input)="onInput($event)"
                            [label]="label()"
                            icon="pi-search"
                            iconPosition="right"
                            [attr.aria-label]="ariaLabel()"
                            [placeholder]="placeholder()"
                            [autocomplete]="autocomplete()"
                            [clearable]="clearable()"
                            [clearAriaLabel]="clearAriaLabel()"
                            (cleared)="onCleared()"
/>
